{% extends 'base.html' %}
{% block title %}Applied Jobs
{% endblock title %}
{% block body_id %}applied-jobs{% endblock body_id %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}', '{{search_location}}', '{{search_keyword}}', '{{search_experience}}', '{{search_function_name}}', '{{search_flag}}')"{% endblock controller %}
{% block search %}
	<div class="search_box">
        <!-- <h3> SEARCH JOBS </h3> -->
        <div class="search_box_content">
            <label>Keywords</label>
            <input type="text" name="search" placeholder="skills" ng-model="skill">
            <p ng-show="is_keyword" class="error_message">Please enter the skills</p>
        </div>
        <div class="search_box_content">
            <label>Location</label>
            <input type="text" name="search" placeholder="country" ng-model="job_location">
            <p ng-show="is_location" class="error_message">Please enter the Location</p>
        </div>
        <div class="search_box_content">
            <label>Exp</label><br>
            <select ng-model="experience">
                <option value="select" >Exp</option>
                <option value="[[exp]]" ng-repeat="exp in experiences">[[exp]]</option>
            </select>
            <p ng-show="is_exp" class="error_message">Please Choose the Exp</p>
        </div>
        <div class="search_box_content">
            <label>Functional Area</label><br>
            <select ng-model="functional_area">
                <option value="select">Select</option>
                <option value="[[function]]" ng-repeat="function in functions">[[function]]</option>
            </select>
            <p ng-show="is_function" class="error_message">Please choose the Functional area</p>
        </div>

        <div class="search_box_content">
            <a href="" class="search_button" ng-click="job_search()">Search</a>
            
        </div>
        
    </div>
{% endblock search %}
{% block content %}
    {% if applied_jobs|length %}
    	{% for job in applied_jobs %}
            <div class="search_result_warning">
                <h2><a href="{% url 'job_details' job_id=job.id %}">{{job.job_title}} </a></h2>
                <p> Company: {{job.company.company_name}} </p>
                <p> Industry Type: {{job.industry}} </p>
                <p> Functional Area: {{job.function}} </p>
                <p> Qualification : {{job.education_req}} </p>
                <p> Experience: {{job.exp_req_min}} - {{job.exp_req_max}} Yrs </p>
                <br>
            </div>

            <br>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if applied_jobs.has_previous %}
                    <a href="?page={{ applied_jobs.previous_page_number }}" >Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ applied_jobs.number }} of {{ applied_jobs.paginator.num_pages }}.
                </span>

                {% if applied_jobs.has_next %}
                    <a href="?page={{ applied_jobs.next_page_number }}" >Next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <div class="search_result_warning">
            <p id="info_message">You have no applied jobs</p>
        </div>

            <br>
    {% endif %}
{% endblock content %}