<!DOCTYPE html>
<html ng-app="employeeme" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock title%} | Emplome </title>
        
        <link rel="stylesheet" href="/static/css/calendar/jquery.ui.all.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <!--  Angularjs -->
        <script src="/static/js/jquery-1.9.1.js"></script>
        <script src="/static/js/angular_app/lib/angular/angular.js"></script>
        <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
        <script src="/static/js/angular_app/app.js"></script>
        <script src="/static/js/angular_app/services.js"></script>
        <script src="/static/js/angular_app/directives.js"></script>
        <script src="/static/js/angular_app/controllers.js"></script>

        <script src="/static/js/calendar/jquery.ui.core.js"></script>
        <script src="/static/js/calendar/jquery.ui.widget.js"></script>
        <script src="/static/js/calendar/jquery.ui.datepicker.js"></script>

        <script>
            // $(function() {
            //  $( "#datepicker" ).datepicker({
            //      dateFormat: "yy-mm-d"
            //  });
            // });
            $(function() {
                $( "#dob" ).datepicker({
                    dateFormat: "dd-mm-yy"
                });
            });
            $(function() {
                $( "#last_date" ).datepicker({
                    dateFormat: "dd-mm-yy"
                });
            });
            $(function() {
                $( "#post_date" ).datepicker({
                    dateFormat: "dd-mm-yy"
                });
            });
        </script> 

        {% block extrahead %}

        {% endblock extrahead %}
    </head>

    <body id="{% block body_id %}base{% endblock %}" {% block controller %}{% endblock controller %}>
        <div class="container">
            <div class="header">
                {% block header %}

                    {% if user.userprofile_set.all.0.user_type == 'employer' %}
                        {% include 'recruiter_header.html' %}
                    {% else%}
                        {% include 'header.html' %}
                    {% endif%}
                {% endblock header %}
                {% block search %}
                    
                {% endblock search %}
            </div>
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="footer">
                {% block footer %}
                    {% include 'footer.html'%}
                {% endblock footer %}
            </div>
        </div>
    </body>
</html>




