<!DOCTYPE html>
<html ng-app="employeeme" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock title%} | EmployeeMe </title>
        <link rel="shortcut icon" href="/static/images/f_icon.png" type="image/x-icon" />
        <link rel="stylesheet" href="/static/css/style.css">
        <!--  Angularjs -->
        <script src="/static/js/angular_app/lib/angular/angular.js"></script>
        <script src="/static/js/angular_app/lib/angular/angular-resource.js"></script>
        <script src="/static/js/angular_app/app.js"></script>
        <script src="/static/js/angular_app/services.js"></script>
        <script src="/static/js/angular_app/directives.js"></script>
        <script src="/static/js/angular_app/controllers.js"></script>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>

    <body>
        <div class="container">
            {% block header %}
                {% include 'header.html' %}
            {% endblock header %}
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>

            {% block footer %}
<!--                 {% include 'footer.html'%} -->
            {% endblock footer %}
            <script src="/static/js/main.js"></script>
            <script src="/static/js/doubletaptogo.js"></script>
            <script>
                $( function()
                {
                    $( '#nav li:has(ul)' ).doubleTapToGo();
                });
            </script>

            <script>var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-7572727-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
            </script>
        </div>
    </body>
</html>



