<div class="footer_top">
	<div class="footer_block">
		<h4>Jobs By Location</h4>
		{% if locations %}
			{% for location in locations %}
				<a href="{% url 'search_jobs' %}?location={{location}}">{{location}}</a>
				<br>
			{% endfor %}
		{% endif %}	
		<br><br>	
	</div>

	<div class="footer_block_function">
		<h4>Jobs By Functional Area</h4>
		{% if functions %}
			{% for function in functions %}
				<a href="{% url 'search_jobs' %}?function={{function}}">{{function}}</a>
				<br>
			{% endfor %}
		{% endif %}	
		<br><br>	
	</div>
	<div class="footer_block">
		<h4>Job Seekers</h4>
			<!-- <a class="tabUnsel" title="Job Seekers Login" href="{% url 'login' %}"> -->
			<a title="login" href="{% url 'login' %}">Log in</a><br>
			<a title="post CV" href="{% url 'job_seeker_registration' %}">Post Your CV</a><br>
			<a href="{% url 'search' %}">Search</a><br>
		<h4>Recruiters</h4>
			<a title="recruiter_home" href="{% url 'recruiter' %}">Register</a><br>
			<a title="recruiter_login" href="{% url 'recruiter' %}">Log in</a><br>
			<br><br>
	</div>

	<div class="footer_block">
		<h4>Company</h4>
			<a href="#">About Us</a><br>
			<a href="#">Contact Us</a><br>
			<a href="#">Careers</a><br>
			<a href="#">Press Corner</a><br>
			<br><br>
		
	</div>
</div>
<div class="footer_bottom">
	<p>copy right 2013 Emplome. All Rights Reserved<br>
		info@emplome.com</p>
</div>


