{% extends 'base.html' %}
{% block title %}Forgot Password
{% endblock title %}
{% block body_id %}forgot_password{% endblock body_id %}

{% block content %}
	
	<div class="content_div">
		<h2>Reset Your Password</h2>
		<form method="post" action="{% url 'forgot_password' %}">{% csrf_token %}
			<p>Enter the email id used while creating this account </p>
			<label>Email Id : </label>
			<input type="text" value="" name="email_id">
			<div class="btn_align_center">
				<input type="submit" value="Submit">
			</div>
				
		</form>
	</div>
	<p class="error_message" id="error_msg">{{message}}</p>
{% endblock content %}