<div class="main">
    <div class="empS">
        <form action="" name="frmMnjLogin" method="post">
            <span>
                <label >Job Seekers Login:</label>
                <input  type="text" maxlength="80" placeholder="Username" name="username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
                <label>|</label>
                <a href="" title="Forgot">Forgot password?</a>
            </span>
        </form>
    </div>

    <img src=""/>
    <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation">Show navigation</a>
        <a href="#" title="Hide navigation">Hide navigation</a>
        <ul class="clearfix">
            <li>
                <a href="" aria-haspopup="true"><span>Search Jobs</span></a>
                <ul>
                    <li><a href="">Advanced Search</a></li>
                    <li><a href="">Jobs By Category</a></li>
                    <li><a href="">Jobs By Location</a></li>
                    <li><a href="">Jobs By Skills</a></li>
                    <li><a href="">Jobs By Designation</a></li>
                </ul>
            </li>
            <li><a href="">Post Resume</a></li>
            <li><a href="">Job Seeker</a></li>
        </ul>
    </nav>
</div>