<div class="logodiv">
   <!--  <a title="NaukriGulf.com" href="http://www.naukrigulf.com/">
        <img class="fl" width="246" height="72" src="http://static.naukimg.com/ni/nistatic/nihome/images/naukrigulf_arabic.gif" alt="NaukriGulf.com">
    </a> -->
    
</div>
<div class="navi">
    <ul class="middle">
        <li>
            <a class="active" title="Home" href="?tracksrc=502">
                <em class="home"></em>
            </a>
        </li>
        <li id="ddN" class="ddn">
            <a title="Search Jobs" href="search-jobs?tracksrc=503">
                Search Jobs
                <em class="downArr"> </em>
            </a>
            <div class="ddNC">
                <a title="" href="{% url 'search' %}">Advance Search</a>
                <a title="" href="" onClick="search_by_location('location')">Jobs By Location</a>
                <a title="" href="#">Jobs By Skills</a>
            </div>
        </li>
        
        <li>
            <a class="tabUnsel" title="Job Seekers Login" href="{% url 'login' %}">Job Seekers</a>
        </li>
       {% if user.is_authenticated %}
            <li>
                <a class="tabUnsel" title="Edit Profile" href="{% url 'edit_profile' user_id=user.id %}">Edit Profile</a>
            </li>
            <li>
                <a class="tabUnsel" title="Logout" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li>
                <a class="tabUnsel" title="Post Your CV" href="{% url 'job_seeker_registration' %}">
                Post Resume
                    <!-- <sup>Free</sup> -->
                </a>
            </li>
            <li>
                <a class="tabUnsel" title="Recruiter Login" href="{% url 'recruiter' %}">Recruiter</a> 
            </li>         
        {% endif %}
    </ul>
</div>
