
<ul class="nav" style="margin-top:0%">
    <li><a href="#">Job Posting</a></li>
    <li><a href="#">mPower Search</a></li>
    <li><a href="#">Personal Folder</a></li>
    <li><a href="#">Usage Reports</a></li>
    <li><a href="#">Account Settings</a></li>
    <li><a href="#">Other Products</a></li>
</ul>

<div class="div1">
    <h3 class="hd">JOBS ONLINE</h3>

    <div class="menu">
        <ul>
            <li><a href="">Join Us</a></li>
            <li><a href="Sign.html">Sign In</a></li>
            <li><a href="#" style="position:relative;">Employers</a>
        <ul class="hide">
            <li  id="m1" ><a href="Sign1.html">Log In</a></li>
            <li  id="m2"><a href="Profile.html">Profile</a></li>
            <li  id="m3"><a href="Contact.html">Contact Us</a></li>
        </ul>
        </li>
        </ul>
    </div>
</div>


<div class="div2">
    <ul class="nav1">
      <li><a href="Home.html">Full-Time Jobs</a></li>
      <li><a href="Contract.html"> Contract Jobs</a></li>
      <li><a href="Walk-in.html">Walk-in Jobs</a></li>
      <li><a href="Manage.html">Manage Job Postings</a></li>
      
    </ul>
</div>

<div class="div3">

    <ul class="nav2">
      <li><a href="Home.html">Full-Time Jobs</a></li>
      <li><a href="Contract.html"> Contract Jobs</a></li>
      <li><a href="Walk-in.html">Walk-in Jobs</a></li>
    </ul>
</div>