{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body_id %}home{% endblock body_id %}

{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block search %}
	<div class="search_box">
        <!-- <h3> SEARCH JOBS </h3> -->
        <div class="search_box_content">
            <label>Keywords</label>
            <input type="text" name="search" placeholder="skills" ng-model="skill">
            <p ng-show="is_keyword" class="error_message">Please enter the skills</p>
        </div>
        <div class="search_box_content">
            <label>Location</label>
            <input type="text" name="search" placeholder="country" ng-model="job_location">
            <p ng-show="is_location" class="error_message">Please enter the Location</p>
        </div>
        <div class="search_box_content">
            <label>Exp</label><br>
            <select ng-model="experience">
                <option value="select" >Exp</option>
                <option value="[[exp]]" ng-repeat="exp in experiences">[[exp]]</option>
            </select>
            <p ng-show="is_exp" class="error_message">Please Choose the Exp</p>
        </div>
        <div class="search_box_content">
            <label>Functional Area</label><br>
            <select ng-model="functional_area">
                <option value="select">Select</option>
                <option value="[[function]]" ng-repeat="function in functions">[[function]]</option>
            </select>
            <p ng-show="is_function" class="error_message">Please choose the Functional area</p>
        </div>

        <div class="search_box_content">
            <a href="" class="search_button" ng-click="job_search()">Search</a>
            <!-- <input type="submit" value="Search"> -->
        </div>
        
    </div>
{% endblock search %}

{% block content %}
<div class="content_top">
	<div class="left_content">
		<h4>Success Stories</h4>
        {% if success_stories %}
            {% for story in success_stories %}
                <div class="success_story">
                    <h4>{{ story.title }}</h4>
                    <p>{{ story.story }}</p>
                </div>
            {% endfor %}
            <a href="{% url 'success_stories' %}" id="read_more">Read More >> </a>
        {% endif %}
        
	</div>
	<div class="middle_content">
		<h4>Jobs By Location</h4>
		{% if locations %}
			{% for location in locations %}
				<a href="{% url 'search_jobs' %}?location={{location}}">{{location}}</a>
				<br>
			{% endfor %}
		{% endif %}		

	</div>
	<div class="right_content">
		<div class="find_jobs">
			<h3>Find Your Perfect Job</h3>
			<ul>
				<li>Choose from 9523 jobs.</li>
				<li>Let employers find you online.</li>
				<li>Receive matching jobs by Email.</li>
				<li>Easy and 100% free.</li>
			</ul>
			<input class="button" type="submit" name="post_cv" value="Post your CV" ng-click="post_cv()">
		</div>
		<h4>RECOMMENDATIONS FROM EMPLOME</h4>
		<div class="recommendations">
            {% if recommendations %}
                {% for recommendation in recommendations%}
                    <p>{{ recommendation.recommendation_data }}</p>
                {% endfor %}
            {% endif %}
        </div>
	</div>
</div>
{% endblock content %}