{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block body_id %}profile{% endblock body_id %}
{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block search %}
	<div class="search_box">
        <!-- <h3> SEARCH JOBS </h3> -->
        <div class="search_box_content">
            <label>Keywords</label>
            <input type="text" name="search" placeholder="skills" ng-model="skill">
            <p ng-show="is_keyword" class="error_message">Please enter the skills</p>
        </div>
        <div class="search_box_content">
            <label>Location</label>
            <input type="text" name="search" placeholder="country" ng-model="job_location">
            <p ng-show="is_location" class="error_message">Please enter the Location</p>
        </div>
        <div class="search_box_content">
            <label>Exp</label><br>
            <select ng-model="experience">
                <option value="select" >Exp</option>
                <option value="[[exp]]" ng-repeat="exp in experiences">[[exp]]</option>
            </select>
            <p ng-show="is_exp" class="error_message">Please Choose the Exp</p>
        </div>
        <div class="search_box_content">
            <label>Functional Area</label><br>
            <select ng-model="functional_area">
                <option value="select">Select</option>
                <option value="[[function]]" ng-repeat="function in functions">[[function]]</option>
            </select>
            <p ng-show="is_function" class="error_message">Please choose the Functional area</p>
        </div>

        <div class="search_box_content">
            <a href="" class="search_button" ng-click="job_search()">Search</a>
            <!-- <input type="submit" value="Search"> -->
        </div>
        
    </div>
{% endblock search %}
{% block content %}

<div class="profile-box">
	<strong>{{error}}</strong><br />
	<label>Welcome to your Home Page</label><br />
	<label>Update CV, browse/search jobs... do lots more on your page!</label><br />
	<label>Your profile picture is missing. Upload one to increase your visibility and searchability.</label><br />
	<div class="profile-det">
		<h4>My CV</h4>
		<h3>{{profile.user.first_name}}</h3>
		Email id :{{profile.user.email}}
		Mobile:{{ profile.mobile }}
		Functional Area :
 		Industry Type :
 		Work Experience :
 		Highest Education:
	</div>
</div>

{% endblock content %}