{% extends 'base.html' %}
{% block title %}Job Details{% endblock title %}
{% block body_id %}job_details{% endblock body_id %}

{% block content %}

<div class="container">
	<div class="content-box">
		<h1>{{job.company.company_name}} </h1>

		<div class="job_description"> 
			<div id="job_description_text">
				<h2>Job Description</h2>
			</div>
				
			<p>{{ job.summary }}</p>
			<span>
				Salary : As per Industry Standard <br/>
				Industry : {{job.industry}} <br/>
				Location : {{ job.location }} <br/>
				Role : {{ job.job_title }} <br/>
			</span>
			{% if user.is_authenticated and user.userprofile_set.all.0.userprofile == 'job_seeker' %}
				{% if job not in user.userprofile_set.all.0.jobseekerprofile_set.all.0.applied_jobs.all %}
		 			<a href="{% url 'apply_jobs' job_id=job.id %}"><input type="submit" name="apply" value="Apply Job"></a>
		 		{% else %}
		 			<p class="error_message">You have applied to this Job</p>
		 		{% endif %}
		 	
		 	{% endif %}
		</div>

		<div>

		</div>

		<div class="edit-button">
			
	 	</div>
	</div>
	
</div>

{% endblock content %}