{% extends 'base.html' %}
{% block title %}Job Details{% endblock title %}
{% block body_id %}job_details{% endblock body_id %}

{% block content %}

<div class="container">
	<h1>{{job.company.company_name}} </h1>
	
	<h3>{{job.job_title}} </h3>
	Experience : {{job.exp_req_min}} - {{job.exp_req_max}}
	<br>
	Education : {{job.education_req}}
	<br>
	Industry Type : {{job.industry}}
	<br>
	Functional Area : {{job.function}}
	<br>
	Required Skills : {{job.skills}}
	<br>
	
</div>

{% endblock content %}