{% extends 'base.html' %}
{% block title %}Job Seeker Registration
{% endblock title %}
{% block body_id %}job_seeker_registration{% endblock body_id %}

{% block controller %}ng-controller="JobSeekerController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block content %}

<div class="div3">
	<!-- <form> -->
	<div class="separation">
		<br>
		<h2 class="hd1">Job Seeker's Registration</h2>
		<p class="mandatory">* Required Fields</p>
		<br>
		<h3>Create your Account</h3>
		<br>
		<div class="formrow">
			<label>Email Id<span class="red">*</span></label>
			<input type="text" name="email">
		</div>
		<div class="formrow">
			<label>Choose Password<span class="red">*</span></label> 
			<input type="password" name="password">
		</div>
		<div class="formrow">
			<label>Re-enter Password<span class="red">*</span></label> 
			<input type="password" name="password">
		</div>
	</div>


	<div class="separation">
		<br>
		<h3>Personnal Details</h3>
		<br>
		<div class="formrow">
			<label>Fulll Name<span class="red">*</span></label>
			<input type="text" name="first_name">
		</div>
		<div class="formrow">
			<label>Gender<span class="red">*</span></label> 
			<input type="radio" name="gender">Male
			<input type="radio" name="gender">Female
		</div>

		<div class="formrow">
			<label>Religion<span class="red">*</span></label>
			<select name="marital_status">
				<option>------------------Select------------------</option>
				<option>Islam</option>
				<option>Christian</option>
				<option>Hindu</option>
				<option>Buddhist</option>
				<option>Sikh</option>
				<option>Jain</option>
				<option>Zoroaster</option>
				<option>Other</option>
				<option>Do not wish to Disclose</option>
			</select>
		</div>

		<div class="formrow">
			<label>Marital Status<span class="red">*</span></label>
			<select name="marital_status">
				<option>------------------Select------------------</option>
				<option>Single</option>
				<option>Married</option>
				<option>Divorced</option>
				<option>Widowed</option>
			</select>
		</div>

		<div class="formrow">
			<label>Nationality<span class="red">*</span></label>
			<select name="nationality">
				<option>------------------Select------------------</option>
				<option>Afganistan</option>
				<option>Albania</option>
				<option>Algerian</option>
				<option>American Samoa</option>
				<option>Andorra</option>
				<option>Angola</option>
				<option>Anguilla</option>
				<option>Antarctica</option>
				<option>Antigua and Barbuda</option>
				<option>Argentina</option>
				<option>Armenia</option>
				<option>Aruba</option>
				<option>Australian</option>
				<option>Austria</option>
				<option>Azerbaijan</option>
				<option>Bahamas</option>
				<option>Bahraini</option>
				<option>Bangladeshi</option>
				<option>Barbados</option>
				<option>Belarus</option>
				<option>Belgium</option>
				<option>Belize</option>
				<option>Benin</option>
				<option>Bermuda</option>
				<option>Bhutan</option>
				<option>Bolivia</option>
				<option>Bosnia and Herzegovina</option>
				<option>Botswana</option>
				<option>Bouvet Island</option>
				<option>Brazil</option>
				<option>British Indian Ocean Territory</option>
				<option>Brunei Darussalam</option>
				<option>Bulgaria</option>
				<option>Burkina Faso</option>
				<option>Burundi</option>
				<option>Cambodia</option>
				<option>Cameroon</option>
				<option>Canadian</option>
				<option>Cape Verde</option>
				<option>Cayman Islands</option>
				<option>Central African Republic</option>
				<option>Chad</option>
				<option>Chile</option>
				<option>Chinese</option>
				<option>Christmas Island</option>
				<option>Cocos (Keeling) Islands</option>
				<option>Colombia</option>
				<option>Comoros</option>
				<option>Congo</option>
				<option>Congo</option>
				<option>Cook Islands</option>
				<option>Costa Rica</option>
				<option>Cote D'Ivoire</option>
				<option>Croatia</option>
				<option>Cuba</option>
				<option>Cyprus</option>
				<option>Czech Republic</option>
				<option>Denmark</option>
				<option>Djibouti</option>
				<option>Dominica</option>
				<option>Dominican Republic</option>
				<option>Ecuador</option>
				<option>Egyptian</option>
				<option>El Salvador</option>
				<option>Emirati</option>
				<option>Equatorial Guinea</option>
				<option>Eritrea</option>
				<option>Estonia</option>
				<option>Ethiopia</option>
				<option>Falkland Islands (Malvinas)</option>
				<option>Faroe Islands</option>
				<option>Fiji</option>
				<option>Filipino</option>
				<option>Finland</option>
				<option>French</option>
				<option>French Guiana</option>
				<option>French Polynesia</option>
				<option>French Southern Territories</option>
				<option>Gabon</option>
				<option>Georgia</option>
				<option>German</option>
				<option>Ghana</option>
				<option>Gibraltar</option>
				<option>Greece</option>
				<option>Greenland</option>
				<option>Grenada</option>
				<option>Guadeloupe</option>
				<option>Guam</option>
				<option>Guinea</option>
				<option>Guinea-Bissau</option>
				<option>Guyana</option>
				<option>Haiti</option>
				<option>Heard Island and Mcdonald Islands</option>
				<option>Holy See (Vatican City State)</option>
				<option>Honduras</option>
				<option>Hong Kong</option>
				<option>Hungary</option>
				<option>Iceland</option>
				<option>Indian</option>
				<option>Indonesian</option>
				<option>Iranian</option>
				<option>Ireland</option>
				<option>Israel</option>
				<option>Japan</option>
				<option>Jordanian</option>
				<option>Kazakhstan</option>
				<option>Kenyan</option>
				<option>Kiribati</option>
				<option>Korea, Democratic People's Republic of</option>
				<option>Korea, Republic of</option>
				<option>Kuwaiti</option>
				<option>Kyrgyzstan</option>
				<option>Lao People's Democratic Republic</option>
				<option>Latvia</option>
				<option>Lebanese</option>
				<option>Lesotho</option>
				<option>Liberia</option>
				<option>Libyan Arab Jamahiriya</option>
				<option>Liechtenstein</option>
				<option>Lithuania</option>
				<option>Luxembourg</option>
				<option>Macao</option>
				<option>Macedonia, the Former Yugoslav Republic of</option>
				<option>Madagascar</option>
				<option>Malawi</option>
				<option>Malaysian</option>
				<option>Maldives</option>
				<option>Mali</option>
				<option>Malta</option>
				<option>Marshall Islands</option>
				<option>Martinique</option>
				<option>Mauritania</option>
				<option>Mauritius</option>
				<option>Mayotte</option>
				<option>Mexico</option>
				<option>Micronesia, Federated States of</option>
				<option>Moldova, Republic of</option>
				<option>Monaco</option>
				<option>Mongolia</option>
				<option>Montserrat</option>
				<option>Moroccan</option>
				<option>Mozambique</option>
				<option>Myanmar</option>
				<option>Namibia</option>
				<option>Nauru</option>
				<option>Nepalese</option>
				<option>Netherlands</option>
				<option>Netherlands Antilles</option>
				<option>New Caledonia</option>
				<option>New Zealand</option>
				<option>Nicaragua</option>
				<option>Niger</option>
				<option>Nigerian</option>
				<option>Niue</option>
				<option>Norfolk Island</option>
				<option>Northern Mariana Island<option>
				<option>Norway</option>
				<option>Omani</option>
				<option>Pakistani</option>
				<option>Palau</option>
				<option>Palestinian Territory Occupied</option>
				<option>Panama</option>
				<option>Papua New Guinea</option>
				<option>Paraguay</option>
				<option>Peru</option>
				<option>Pitcairn</option>
				<option>Poland
				<option>Portugal</option>
				<option>Puerto Rico</option>
				<option>Qatari</option>
				<option>Reunion</option>
				<option>Romania</option>
				<option>Russian</option>
				<option>Rwanda</option>
				<option>Saint Helena</option>
				<option>Saint Kitts and Nevis</option>
				<option>Saint Lucia</option>
				<option>Saint Pierre and Miquelon</option>
				<option>Saint Vincent and the Grenadines</option>
				<option>Samoa</option>
				<option>San Marino</option>
				<option>Sao Tome and Principe</option>
				<option>Saudi</option>
				<option>Senegal</option>
				<option>Serbia and Montenegro</option>
				<option>Seychelles</option>
				<option>Sierra Leone</option>
				<option>Singaporean</option>
				<option>Slovakia</option>
				<option>Slovenia</option>
				<option>Solomon - Islands	</option>
				<option>Somalia</option>
				<option>South African</option>
				<option>South Georgia and the South Sandwich Islands</option>
				<option>Spanish</option>
				<option>Sri Lankan</option>
				<option>Sudanese</option>
				<option>Suriname</option>
				<option>Svalbard and Jan Mayen</option>
				<option>Swaziland</option>
				<option>Sweden</option>
				<option>Switzerland</option>
				<option>Syrian</option>
				<option>Taiwanese</option>
				<option>Tajikistan</option>
				<option>Tanzania, United Republic of</option>
				<option>Thai</option>
				<option>Timor-Leste</option>
				<option>Togo</option>
				<option>Tokelau</option>
				<option>Tonga</option>
				<option>Trinidad and Tobago</option>
				<option>Tunisia</option>
				<option>Turkey</option>
				<option>Turkmenistan</option>
				<option>Turks and Caicos Islands</option>
				<option>Tuvalu</option>
				<option>Uganda</option>
				<option>Ukraine</option>
				<option>United Kingdom</option>
				<option>United States</option>
				<option>United States Minor Outlying Islands</option>
				<option>Uruguay</option>
				<option>Uzbekistan</option>
				<option>Vanuatu</option>
				<option>Venezuela</option>
				<option>Vietnamese</option>
				<option>Virgin Islands, British</option>
				<option>Virgin Islands, U.s.</option>
				<option>Wallis and Futuna</option>
				<option>Western Sahara</option>
				<option>Yemeni</option>
				<option>Zambia</option>
				<option>Zimbabwe</option>
				<option>Other</option>
			</select>
		</div>
		<div class="formrow">
			<label>Current Location<span class="red">*</span></label>
			<select name="current_location">
				<option>------------------Select------------------</option>
				<option>United Arab Emirates</option>
				<option>- Abu Dhabi</option>
				<option>- Ajman</option>
				<option>- Al Ain</option>
				<option>- Dubai</option>
				<option>- Fujairah</option>
				<option>- Ras Al Khaimah</option>
				<option>- Sharjah</option>
				<option> Umm Al Qaiwain</option></option>
				<option>- Other</option></option>
				<option>Saudi Arabia</option></option>
				<option> - Abha</option></option>
				<option> - Abu Areesh</option></option>
				<option> - Alahsa</option></option>
				<option> - Albaha</option></option>
				<option> - Alkharj</option></option>
				<option> - Alqasim</option></option>
				<option> - Alqunfithah</option>
				<option> - Altaif</option>
				<option> - Al Madina Al Munawarah</option>
				<option> - Arar</option>
				<option> - Aseer</option>
				<option> - Buraidah</option>
				<option> - Dammam</option>
				<option> - Eastern Province</option>
				<option> - Haeil</option>
				<option> - Hafr Albaten</option>
				<option> - Hofof</option>
				<option> - Jazan</option>
				<option> - Jeddah
				<option> - Jizan</option>
				<option> - Jouf</option>
				<option> - Jubail</option>
				<option> - Jubail/ Al Jubail</option>
				<option> - Khamis Mushait</option>
				<option> - Khobar</option>
				<option> - Makkah Al Mukarramah</option>
				<option> - Mecca</option>
				<option> - Medina</option>
				<option> - Najran</option>
				<option> - Onaizah</option>
				<option> - Qaseem</option>
				<option> - Qatif</option>
				<option> - Riyadh</option>
				<option> - Sabia</option>
				<option> - Sakaka</option>
				<option> - Tabouk</option>
				<option> - Yanbu</option>
				<option> - Other</option>
				<option>Qatar</option>
				<option> - Doha</option>
				<option> - Other</option>
				<option>Bahrain</option>
				<option> - Manama</option>
				<option> - Other</option>
				<option>Oman</option>
				<option> - Ibri</option>
				<option> - Khasab</option>
				<option> - Muscat</option>
				<option> - Nizwa</option>
				<option> - Salalah</option>
				<option> - Sohar</option>
				<option> - Sur</option>
				<option> - Zufar</option>
				<option> - Other</option>
				<option>Kuwait</option>
				<option> - Al Ahmadi</option>
				<option> - Al Farawaniyah</option>
				<option> - Al Jahra</option>
				<option> - Al Kuwait</option>
				<option> - Al Zour Mina Saud</option>
				<option> - Hawali</option>
				<option> - Joint Operations Wafra</option>
				<option> - Other</option>
				<option>Lebanon</option>
				<option> - Beirut</option>
				<option> - Bekaa</option>
				<option> - Saidon</option>
				<option> - Tripoli</option>
				<option> - Other</option>
				<option>Jordan</option>
				<option> - Ajloun</option>
				<option> - Amman</option>
				<option> - Aqaba</option>
				<option> - Irbid</option>
				<option> - Jerash</option>
				<option> - Karak</option>
				<option> - Maan</option>
				<option> - Madaba</option>
				<option> - Mafraq</option>
				<option> - Salt</option>
				<option> - Tafila</option>
				<option> - Zarqa</option>
				<option> - Other</option>
				<option>Egypt</option>
				<option> - Alexandria</option>
				<option> - Asyut</option>
				<option> - Cairo</option>
				<option> - Damietta</option>
				<option> - Hurghada</option>
				<option> - Ismailia</option>
				<option> - Luxor</option>
				<option> - Port Said</option>
				<option> - Sharm el Sheikh</option>
				<option> - Suez</option>
				<option> - Other</option>
				<option>Iraq</option>
				<option> - Al Nagaf</option>
				<option> - Baghdad</option>
				<option> - Basra</option>
				<option> - Erbil</option>
				<option> - Hillah</option>
				<option> - Karbala</option>
				<option> - Kirkuk</option>
				<option> - Mosul</option>
				<option> - Sulaymaniyah</option>
				<option> - Other</option>
				<option>Afghanistan</option>
				<option>Africa</option>
				<option>Algeria</option>
				<option>Angola</option>
				<option>Australia</option>
				<option>Bangladesh</option>
				<option>Belgium</option>
				<option>Benin</option>
				<option>Botswana</option>
				<option>Burkina Faso</option>
				<option>Burundi</option>
				<option>Cameroon</option>
				<option>Canada</option>
				<option>Cape Verde</option>
				<option>Central African Republic</option>
				<option>Chad</option>
				<option>China</option>
				<option>Cote d Ivoire</option>
				<option>Democratic Republic of Congo</option>
				<option>Djibouti</option>
				<option>Equatorial Guinea</option>
				<option>Eritrea</option>
				<option>Ethiopia</option>
				<option>France</option>
				<option>Gabon</option>
				<option>Gambia</option>
				<option>Germany</option>
				<option>Ghana</option>
				<option>Guinea</option>
				<option>Guinea Bissau</option>
				<option>Hongkong</option>
				<option>India</option>
				<option>Indonesia</option>
				<option>Ireland</option>
				<option>Japan</option>
				<option>Kenya</option>
				<option>Lesotho</option>
				<option>Liberia</option>
				<option>Libya</option>
				<option>Macau</option>
				<option>Madagascar</option>
				<option>Malawi</option>
				<option>Malaysia</option>
				<option>Maldives</option>
				<option>Mali</option>
				<option>Mauritania</option>
				<option>Mauritius</option>
				<option>Mexico</option>
				<option>Morocco</option>
				<option>Mozambique</option>
				<option>Namibia</option>
				<option>Nepal</option>
				<option>Netherlands</option>
				<option>New Zealand</option>
				<option>Niger</option>
				<option>Nigeria</option>
				<option>Pakistan</option>
				<option>Philippines</option>
				<option>Republic of Congo</option>
				<option>Russia</option>
				<option>Rwanda</option>
				<option>Senegal</option>
				<option>Seychelles</option>
				<option>Sierra Leone</option>
				<option>Singapore</option>
				<option>Somalia</option>
				<option>South Africa</option>
				<option>South Korea</option>
				<option>Spain</option>
				<option>SriLanka</option>
				<option>Sudan</option>
				<option>Swaziland</option>
				<option>Sweden</option>
				<option>Switzerland</option>
				<option>Taiwan</option>
				<option>Tanzania</option>
				<option>Thailand</option>
				<option>Togo</option>
				<option>Tunisia</option>
				<option>UK</option>
				<option>US</option>
				<option>Uganda</option>
				<option>Vietnam</option>
				<option>Yemen</option>
				<option>Zambia</option>
				<option>Zimbabwe</option>
				<option>Other International</option>	
			</select>
		</div>
		<div class="formrow">
			<label>Country<span class="red">*</span></label> 
			<select>
				<option>------------------Select------------------</option>
				<!-- <option>Afganistan</option>
				<option>Albania</option>
				<option>Algerian</option>
				<option>American Samoa</option>
				<option>Andorra</option>
				<option>Angola</option>
				<option>Anguilla</option>
				<option>Antarctica</option>
				<option>Antigua and Barbuda</option>
				<option>Argentina</option>
				<option>Armenia</option>
				<option>Aruba</option>
				<option>Australian</option>
				<option>Austria</option>
				<option>Azerbaijan</option>
				<option>Bahamas</option>
				<option>Bahraini</option>
				<option>Bangladeshi</option>
				<option>Barbados</option>
				<option>Belarus</option>
				<option>Belgium</option>
				<option>Belize</option>
				<option>Benin</option>
				<option>Bermuda</option>
				<option>Bhutan</option>
				<option>Bolivia</option>
				<option>Bosnia and Herzegovina</option>
				<option>Botswana</option>
				<option>Bouvet Island</option>
				<option>Brazil</option>
				<option>British Indian Ocean Territory</option>
				<option>Brunei Darussalam</option>
				<option>Bulgaria</option>
				<option>Burkina Faso</option>
				<option>Burundi</option>
				<option>Cambodia</option>
				<option>Cameroon</option>
				<option>Canadian</option>
				<option>Cape Verde</option>
				<option>Cayman Islands</option>
				<option>Central African Republic</option>
				<option>Chad</option>
				<option>Chile</option>
				<option>Chinese</option>
				<option>Christmas Island</option>
				<option>Cocos (Keeling) Islands</option>
				<option>Colombia</option>
				<option>Comoros</option>
				<option>Congo</option>
				<option>Congo</option>
				<option>Cook Islands</option>
				<option>Costa Rica</option>
				<option>Cote D'Ivoire</option>
				<option>Croatia</option>
				<option>Cuba</option>
				<option>Cyprus</option>
				<option>Czech Republic</option>
				<option>Denmark</option>
				<option>Djibouti</option>
				<option>Dominica</option>
				<option>Dominican Republic</option>
				<option>Ecuador</option>
				<option>Egyptian</option>
				<option>El Salvador</option>
				<option>Emirati</option>
				<option>Equatorial Guinea</option>
				<option>Eritrea</option>
				<option>Estonia</option>
				<option>Ethiopia</option>
				<option>Falkland Islands (Malvinas)</option>
				<option>Faroe Islands</option>
				<option>Fiji</option>
				<option>Filipino</option>
				<option>Finland</option>
				<option>French</option>
				<option>French Guiana</option>
				<option>French Polynesia</option>
				<option>French Southern Territories</option>
				<option>Gabon</option>
				<option>Georgia</option>
				<option>German</option>
				<option>Ghana</option>
				<option>Gibraltar</option>
				<option>Greece</option>
				<option>Greenland</option>
				<option>Grenada</option>
				<option>Guadeloupe</option>
				<option>Guam</option>
				<option>Guinea</option>
				<option>Guinea-Bissau</option>
				<option>Guyana</option>
				<option>Haiti</option>
				<option>Heard Island and Mcdonald Islands</option>
				<option>Holy See (Vatican City State)</option>
				<option>Honduras</option>
				<option>Hong Kong</option>
				<option>Hungary</option>
				<option>Iceland</option>
				<option>Indian</option>
				<option>Indonesian</option>
				<option>Iranian</option>
				<option>Ireland</option>
				<option>Israel</option>
				<option>Japan</option>
				<option>Jordanian</option>
				<option>Kazakhstan</option>
				<option>Kenyan</option>
				<option>Kiribati</option>
				<option>Korea, Democratic People's Republic of</option>
				<option>Korea, Republic of</option>
				<option>Kuwaiti</option>
				<option>Kyrgyzstan</option>
				<option>Lao People's Democratic Republic</option>
				<option>Latvia</option>
				<option>Lebanese</option>
				<option>Lesotho</option>
				<option>Liberia</option>
				<option>Libyan Arab Jamahiriya</option>
				<option>Liechtenstein</option>
				<option>Lithuania</option>
				<option>Luxembourg</option>
				<option>Macao</option>
				<option>Macedonia, the Former Yugoslav Republic of</option>
				<option>Madagascar</option>
				<option>Malawi</option>
				<option>Malaysian</option>
				<option>Maldives</option>
				<option>Mali</option>
				<option>Malta</option>
				<option>Marshall Islands</option>
				<option>Martinique</option>
				<option>Mauritania</option>
				<option>Mauritius</option>
				<option>Mayotte</option>
				<option>Mexico</option>
				<option>Micronesia, Federated States of</option>
				<option>Moldova, Republic of</option>
				<option>Monaco</option>
				<option>Mongolia</option>
				<option>Montserrat</option>
				<option>Moroccan</option>
				<option>Mozambique</option>
				<option>Myanmar</option>
				<option>Namibia</option>
				<option>Nauru</option>
				<option>Nepalese</option>
				<option>Netherlands</option>
				<option>Netherlands Antilles</option>
				<option>New Caledonia</option>
				<option>New Zealand</option>
				<option>Nicaragua</option>
				<option>Niger</option>
				<option>Nigerian</option>
				<option>Niue</option>
				<option>Norfolk Island</option>
				<option>Northern Mariana Island<option>
				<option>Norway</option>
				<option>Omani</option>
				<option>Pakistani</option>
				<option>Palau</option>
				<option>Palestinian Territory Occupied</option>
				<option>Panama</option>
				<option>Papua New Guinea</option>
				<option>Paraguay</option>
				<option>Peru</option>
				<option>Pitcairn</option>
				<option>Poland
				<option>Portugal</option>
				<option>Puerto Rico</option>
				<option>Qatari</option>
				<option>Reunion</option>
				<option>Romania</option>
				<option>Russian</option>
				<option>Rwanda</option>
				<option>Saint Helena</option>
				<option>Saint Kitts and Nevis</option>
				<option>Saint Lucia</option>
				<option>Saint Pierre and Miquelon</option>
				<option>Saint Vincent and the Grenadines</option>
				<option>Samoa</option>
				<option>San Marino</option>
				<option>Sao Tome and Principe</option>
				<option>Saudi</option>
				<option>Senegal</option>
				<option>Serbia and Montenegro</option>
				<option>Seychelles</option>
				<option>Sierra Leone</option>
				<option>Singaporean</option>
				<option>Slovakia</option>
				<option>Slovenia</option>
				<option>Solomon - Islands	</option>
				<option>Somalia</option>
				<option>South African</option>
				<option>South Georgia and the South Sandwich Islands</option>
				<option>Spanish</option>
				<option>Sri Lankan</option>
				<option>Sudanese</option>
				<option>Suriname</option>
				<option>Svalbard and Jan Mayen</option>
				<option>Swaziland</option>
				<option>Sweden</option>
				<option>Switzerland</option>
				<option>Syrian</option>
				<option>Taiwanese</option>
				<option>Tajikistan</option>
				<option>Tanzania, United Republic of</option>
				<option>Thai</option>
				<option>Timor-Leste</option>
				<option>Togo</option>
				<option>Tokelau</option>
				<option>Tonga</option>
				<option>Trinidad and Tobago</option>
				<option>Tunisia</option>
				<option>Turkey</option>
				<option>Turkmenistan</option>
				<option>Turks and Caicos Islands</option>
				<option>Tuvalu</option>
				<option>Uganda</option>
				<option>Ukraine</option>
				<option>United Kingdom</option>
				<option>United States</option>
				<option>United States Minor Outlying Islands</option>
				<option>Uruguay</option>
				<option>Uzbekistan</option>
				<option>Vanuatu</option>
				<option>Venezuela</option>
				<option>Vietnamese</option>
				<option>Virgin Islands, British</option>
				<option>Virgin Islands, U.s.</option>
				<option>Wallis and Futuna</option>
				<option>Western Sahara</option>
				<option>Yemeni</option>
				<option>Zambia</option>
				<option>Zimbabwe</option> -->
				<option ng-repeat="country in countries" value="[[country]]">[[country]]</option>
				<option>Other</option>
			</select>
		</div>

		<div class="formrow">
			<label>City<span class="red">*</span></label>
			<input type="text" name="city">
		</div>


		<div class="formrow">
			<label>Mobile Number<span class="red">*</span></label>
			<input type="text" name="mobile">
		</div>

		<div class="formrow">
			<label>Alternate E-mail Id</label>
			<input type="text" name="alt_email">
		</div>
		
		<br>
	</div>

	<div class="separation">
		<br>
		<h3>Current Employment Details</h3>
		<br>
		<div class="formrow">
			<label>Total Experience<span class="red">*</span></label>
			<select name="years" style="width: 115px">
				<option>Years</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
				<option>17</option>
				<option>18</option>
				<option>19</option>
				<option>20</option>
				<option>21</option>
				<option>22</option>
				<option>23</option>
				<option>24</option>
				<option>25</option>
				<option>26</option>
				<option>27</option>
				<option>28</option>
				<option>29</option>
				<option>20</option>
				<option>31</option>
				<option>32</option>
				<option>33</option>
				<option>34</option>
				<option>35</option>
				<option>36</option>
				<option>37</option>
				<option>38</option>
				<option>39</option>
				<option>40</option>
				<option>41</option>
				<option>42</option>
				<option>43</option>
				<option>44</option>
				<option>45</option>
				<option>46</option>
				<option>47</option>
				<option>48</option>
				<option>49</option>
				<option>50</option>
			</select>
			<select name="months" style="width: 115px">
				<option>Months</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
				<option>11</option>
			</select>
		</div>
		<div class="formrow">
			<label>Monthly Salary</label>
			<input type="text" name="salary">
		</div>
		<div class="formrow">
			<label>Current Designation</label>
			<input type="text" name="designation">
		</div>
		<div class="formrow">
			<label>Current Industry</label>
			<select name="industry"> 
				<option>--------------Select------------</option>
				<option>Automotive/ Ancillaries</option>
				<option>Banking/ Financial Services</option>
				<option>Bio Technology & Life Sciences</option>
				<option>Chemicals/Petrochemicals</option>
				<option>Construction</option>
				<option>FMCG</option>
				<option>Education</option>
				<option>Entertainment/ Media/ Publishing</option>
				<option>Insurance</option>
				<option>ITES/BPO</option>
				<option>IT/ Computers - Hardware</option>
				<option>IT/ Computers - Software</option>
				<option>KPO/Analytics</option>
				<option>Machinery/ Equipment Mfg.</option>
				<option>Oil/ Gas/ Petroleum</option>
				<option>Pharmaceuticals</option>
				<option>Plastic/ Rubber</option>
				<option>Power/Energy</option>
				<option>Real Estate</option>
				<option>Retailing</option>
				<option>Telecom</option>
				<option>Advertising/PR/Events</option>
				<option>Agriculture/ Dairy Based</option>
				<option>Aviation/Aerospace</option>
				<option>Beauty/Fitness/PersonalCare/SPA</option>
				<option>Beverages/ Liquor</option>
				<option>Cement</option>
				<option>Ceramics & Sanitary Ware</option>
				<option>Consultancy</option>
				<option>Courier/ Freight/ Transportation</option>
				<option>Dotcom</option>
				<option>Electrical/Switchgear</option>
				<option>Engineering, Procurement, Construction</option>
				<option>Environmental Service</option>
				<option>Facility management</option>
				<option>Fertilizer/ Pesticides</option>
				<option>Food & Packaged Food</option>
				<option>Textiles / Yarn / Fabrics / Garments</option>
				<option>Gems & Jewellery</option>
				<option>Government/ PSU/ Defence</option>
				<option>Consumer Electronics/Appliances</option>
				<option>Hospitals/ Health Care</option>
				<option>Hotels/ Restaurant</option>
				<option>Import / Export</option>
				<option>Iron/ Steel</option>
				<option>ISP</option>
				<option>Law Enforcement/Security Services</option>
				<option>Leather</option>
				<option>Market Research</option>
				<option>Medical Transcription</option>
				<option>Mining</option>
				<option>NGO</option>
				<option>Non-Ferrous Metals</option>
				<option>Office Equipment/Automation</option>
				<option>Paints</option>
				<option>Paper</option>
				<option>Printing/ Packaging</option>
				<option>Public Relations (PR)</option>
				<option>Shipping/ Marine Services</option>
				<option>Travel/ Tourism</option>
				<option>Tyres</option>
				<option>Wood</option>
				<option>Other</option>
				
				<option>Travel/ Tourism</option>
				<option>Any</option>
			</select>
		</div>

		<div class="formrow">
			<label>Function</label>
			<select name ="function" multiple>
				<option>---------------Select-------------</option>
				<option>Construction</option>
				<option>Banking/Financial Services/Broking</option>
				<option>Oil & Gas/Petroleum</option>
				<option>IT - Software Services</option>
				<option>Medical/Healthcare/Diagnistics/Medical Devices</option>
				<option>Hotels/Hospitality/Tourism/Recreative</option>

				<option>Advertising/Pr/Events</option>
				<option>Agriculture/Dairy/Poultry</option><option>Hotels/Hospitality/Tourism/Recreative</option>
				<option>Air Conditioning/Refrigeration</option>
				<option>Airline/Aviation</option>
				<option>Architecture/Interior Designing</option>
				<option>Automotive/Auto Ancillary</option>
				<option>Chemicals/PetroChemical</option>
				<option>Consumer Durables/Consumer Electronics</option>
				<option>Courier/Logistics/Transportation/Warehousing</option>
				<option>Defence/Militarnmenty/Government</option>
				<option>Education/Training/Teaching</option>
				<option>Export/Import/General Trading</option>
				<option>Fertilizers/Pesticides</option>
				<option>FMGG/Foods/Beverage</option>
				<option>Fresher - No industry Experience/Not Employed/Intern</option>
				<option>Gems & Jwellery</option>
				<option>Industrial Products/Heavy Machinery</option>
				<option>Insurance</option>
				<option>Internet/E-Commerece/Dotcom</option>
				<option>IT - Hardware & Networking</option>
				<option>Media/Entertainment/Publishing</option>
				<option>Metals/Steel/Iron/Aluminium/Foundry/Electroplating</option>
				<option>Mining/Forestry/Fishing</option>
				<option>NGO/Social Services</option>
				<option>Office Automation/Equipment/Stationary</option>
				<option>Paper</option>
				<option>Pharma/Biotech/Clinical Research</option>
				<option>Plastics/Rubber</option>
				<option>Power/Energy</option>
				<option>Printing/Packing</option>
				<option>Real Estate</option>
				<option>Recruitment/Placement Firm</option>
				<option>Restaurants/Catering</option>
				<option>Retail</option>
				<option>Security/Law Enforcement</option>
				<option>Shipping/Freight</option>
				<option>Telecom/ISP</option>
				<option>Textiles/Garments/Accesories/Fashion</option>
				<option>Tyres</option>
				<option>Other</option>
			</select>
		</div>
	
		<div class="formrow">
			<label>Key Skills<span class="red">*</span></label>
			<textarea rows="4" cols="20" name="skills" ></textarea>
		</div>

		
	</div>

	<div class="separation">
		<br>
		<h3>Education Details</h3>
		<br>
		<div class="formrow">
			<label>Basic Education<span class="red">*</span></label>
			<select>
				<option>Select Bachelor's/Diploma/School</option>
				<option>----Bachelor's Course----</option>
				<option>Bachelor of Architecture</option>
				<option>Bachelor of Arts </option>
				<option>Bachelor of Business Administration</option>
				<option>Bachelor of Commerce</option>
				<option>Bachelor of Dental Sugery</option>
				<option>Bachelor of Education</option>
				<option>Bachelor of Hotel Management</option>
				<option>Bachelor of Laws (LLB)</option>
				<option>Bachelor of Pharmacy </option>
				<option>Bachelor of Science</option>
				<option>Bachelor of Technology/Engineering</option>
				<option>Bachelor of Vetirenary Science</option>
				<option>Bachelor of Computer Application</option>
				<option>MBBS</option>
				<option>----Diploma Course----</option>
				<option>Diploma</option>
				<option>----Schooling----</option>
				<option>Intermediate</option>
				<option>Secondary</option>
			</select>
		</div>
		<div class="formrow">
			<label>Year of Passing<span class="red">*</span></label>
			<select name="pass" style="width: 115px">
				<option>Select</option>
				<option>1990</option>
				<option>1991</option>
				<option>1992</option>
				<option>1993</option>
				<option>1994</option>
				<option>1995</option>
				<option>1996</option>
				<option>1997</option>
				<option>1998</option>
				<option>2000</option>
				<option>2001</option>
				<option>2002</option>
				<option>2003</option>
				<option>2004</option>
				<option>2005</option>
				<option>2006</option>
				<option>2007</option>
				<option>2008</option>
				<option>2009</option>
				<option>2010</option>
				<option>2011</option>
				<option>2012</option>
				<option>2013</option>
				<option>2014</option>
				<option>Other</option>
			</select>
		</div>

		<div class="formrow">
			<label>Masters Education<span class="red">*</span></label>
			<select>
				<option>-------------Select-------------</option>
				<option>Chartered Accountant</option>
				<option>CA Inter</option>
				<option>Chartered Financial Analyst</option>
				<option>Company Secretary</option>
				<option>Doctor of Medicine (MD)</option>
				<option>Doctor of Surgery (MS)</option>
				<option>Inst. of Cost & Works Accountants</option>
				<option>ICWA Inter</option>
				<option>Master of Architecture</option>
				<option>Master of Arts</option>
				<option>Master of Commerce</option>
				<option>Master of Education</option>
				<option>Master of Laws (LLM)</option>
				<option>Master of Pharmacy</option>
				<option>Master of Technology/Engineering</option>
				<option>Master of Vetirenary Science</option>
				<option>Master of Computer Application</option>
				<option>MBA/PG Diploma in Business Mgmt </option>
			</select>
		</div>
		<div class="formrow">
			<label>Year of Passing<span class="red">*</span></label>
			<select name="pass" style="width: 115px">
				<option>Select</option>
				<option>1990</option>
				<option>1991</option>
				<option>1992</option>
				<option>1993</option>
				<option>1994</option>
				<option>1995</option>
				<option>1996</option>
				<option>1997</option>
				<option>1998</option>
				<option>2000</option>
				<option>2001</option>
				<option>2002</option>
				<option>2003</option>
				<option>2004</option>
				<option>2005</option>
				<option>2006</option>
				<option>2007</option>
				<option>2008</option>
				<option>2009</option>
				<option>2010</option>
				<option>2011</option>
				<option>2012</option>
				<option>2013</option>
				<option>2014</option>
				<option>Other</option>
			</select>
		</div>
		<div class="formrow">
			<label>.</label>
			<input type="button" name="add_doctrate" value="Add Doctrate">
		</div>
		<br>
	</div>

	<div class="separation">
		<br>
		<h3>Attach Your Resume</h3>
		<br>
		<div class="formrow">
			<label>Resume Title<span class="red">*</span></label>
			<input type="text" name="resume">
		</div>
		<div class="formrow">
			<label>Attach CV</label>
			<input type="file" name="browse" value="Browse">
		</div>
		<div class="formrow">
			<label>Copy and Paste Resume Here</label>
			<textarea rows="4" cols="20" name="skills" ></textarea>
		</div>
	</div>
		
	<div class="separation">
		<br>
		<div class="formrow">
			<label></label>
			<input type="checkbox" name="checkbox">I have read and agree to the privacy statement and terms of use
		</div>
		<div class="formrow">
			<div class="btn">
				<label></label>
				<input class="button" type="submit" name="submit" value="Save & Edit">
			</div>
		</div>
		<br>

	</div>
	<!-- </form> -->
</div>

{% endblock content %}



	
		