{% extends 'base.html' %}
{% block title %}Posted Jobs
{% endblock title %}
{% block body_id %}posted jobs{% endblock body_id %}

{% block controller %}ng-controller="JobPostingController" ng-init="init('{{csrf_token}}','{{job_id}}')"{% endblock controller %}

{% block content %}

<div class="container">
	<div class="separation">
		{% if jobs %}
			{% for job in jobs %}
				<h3>{{job.job_title}}</h3>

				<div class="label-box-left">
					<label>Company </label>	<br>
					<label>Ref. Code </label><br>
					<label>Job Summary </label><br>
					<label>Job Details </label><br>
					<label>Key Words/Skills </label><br>
					<label>Industry Type </label><br>
					<label>Job Location </label><br>
					<label>Functional Area </label><br>
					<label>Education Required </label><br>
					<label>Specialization </label><br>
					<label>Minimum Experience </label><br>
					<label>Maximum Experience </label><br>
					<label>Nationality </label><br>
					<label>Last Date to Apply </label><br>
					<label>Name of the Job Owner </label><br>
					<label>Phone </label><br>
					<label>Mail Id </label><br>
					<label>Date Posted </label><br><br>
				</div>

				<div class="label-box-right">
					: {{job.company.company_name}}<br>
					: {{job.ref_code}}<br>
					: {{job.summary}}<br>
					: <a href="uploads/doc">{{job.document}}</a><br>
					: {{job.skills}}<br>
					: {{job.industry}}<br>
					: {{job.job_location}}<br>
					: {{job.function}}<br>
					: {{job.education_req}}<br>
					: {{job.specialization}}<br>
					: {{job.exp_req_min}}<br>
					: {{job.exp_req_max}}<br>
					: {{job.nationality}}<br>
					: {{job.last_date}}<br>
					: {{job.name}}<br>
					: {{job.phone}}<br>
					: {{job.mail_id}}<br>
					: {{job.posting_date}}<br><br>
				</div>

				<br>
				<a href="{% url 'post_jobs_edit' job_id=job.id %}"><input type="submit" name="edit" value="Edit"></a>
				<a href="{% url 'delete_job' job_id=job.id %}"><input type="submit" name="edit" value="Delete"></a>
				{% if not job.is_publish %}
					<a href="{% url 'publish_job' job_id=job.id %}"><input type="submit" name="edit" value="Publish"></a>
				{% endif %}
				{{message}}
			{% endfor %}
		{% else %}
			<p> No jobs </p>
		{% endif %}

	</div>
</div>

{% endblock %}
