{% extends 'base.html' %}
{% block title %}Posted Jobs
{% endblock title %}
{% block body_id %}posted_jobs{% endblock body_id %}

{% block controller %}ng-controller="JobPostingController" ng-init="init('{{csrf_token}}','{{job_id}}')"{% endblock controller %}

{% block content %}

<div class="posted_jobs_container">
	<div class="separation">
		{% if jobs %}
			{% for job in jobs %}

				<div class="posted_job_container">
					<div class="sub_container"> 
						<b> <label id="job_title"><a href="{% url 'applied_users' job_id=job.id%}">{{job.job_title}}</a></label></b> - {{job.job_location}} </div>
					<label>From : {{job.company.company_name}}</label>
					<div class="sub_container">
						<div class="job_details">
							<div id="details"><label>Experience </label></div>
							<span>: {{job.exp_req_min}} - {{job.exp_req_max}}</span>
						</div>
						<div class="job_details">
							<div id="details"><label>Education </label></div>
							<span>: {{job.education_req}}</span>
						</div>
						<div class="job_details">
							<div id="details"><label>Specialization </label></div>
							<span>: {{job.specialization}}</span>
						</div>
					</div>
				</div>				
				<br>
				<a href="{% url 'post_jobs_edit' job_id=job.id %}"><input type="submit" name="edit" value="Edit"></a>
				<a href="{% url 'delete_job' job_id=job.id %}"><input type="submit" name="edit" value="Delete"></a>
				{% if not job.is_publish %}
					<a href="{% url 'publish_job' job_id=job.id %}"><input type="submit" name="edit" value="Publish"></a>
				{% endif %}
				{{message}}
			{% endfor %}
		{% else %}
			<p id="info_message"> You have no posted jobs. Please click <a href="{% url 'postjobs' %}"> Here </a> to post a job</p>
		{% endif %}

	</div>
</div>

{% endblock %}
