{% extends 'base.html' %}
{% block title %}RecruiterProfile{% endblock title %}
{% block body_id %}recruiterprofile{% endblock body_id %}

{% block controller %}ng-controller="HomeController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block search %}
	<div class="search_box">
        <!-- <h3> SEARCH JOBS </h3> -->
        <div class="search_box_content">
            <label>Keywords</label>
            <input type="text" name="search" placeholder="skills" ng-model="skill">
            <p ng-show="is_keyword" class="error_message">Please enter the skills</p>
        </div>
        <div class="search_box_content">
            <label>Location</label>
            <input type="text" name="search" placeholder="country" ng-model="job_location">
            <p ng-show="is_location" class="error_message">Please enter the Location</p>
        </div>
        <div class="search_box_content">
            <label>Exp</label><br>
            <select ng-model="experience">
                <option value="select" >Exp</option>
                <option value="[[exp]]" ng-repeat="exp in experiences">[[exp]]</option>
            </select>
            <p ng-show="is_exp" class="error_message">Please Choose the Exp</p>
        </div>
        <div class="search_box_content">
            <label>Functional Area</label><br>
            <select ng-model="functional_area">
                <option value="select">Select</option>
                <option value="[[function]]" ng-repeat="function in functions">[[function]]</option>
            </select>
            <p ng-show="is_function" class="error_message">Please choose the Functional area</p>
        </div>

        <div class="search_box_content">
            <a href="" class="search_button" ng-click="job_search()">Search</a>
            <!-- <input type="submit" value="Search"> -->
        </div>
        
    </div>
{% endblock search %}


{% block content %}
	<div class="container">
	{% if user.userprofile_set.all.0.user_type == 'employer' %}
		<div class="welcome-box">
			<strong>{{error}}</strong><br />
			<label>Welcome to your Home Page</label><br />
			<label>Post jobs and find the best</label><br />
		</div>


		<div class="content-box">
			<br><br>
			
			<!-- <h4>Company Profile</h4>		 -->
			<h3>{{profile.company.company_name}}</h3>
			<div class="label-box-left">
			<label>Email id </label><br>
			<label>Mobile</label><br>
			<label>Industry Type </label><br>
	 		<label>Location </label><br>
	 	</div>

	 	<div class="label-box-right">
	 		: {{profile.user.email}}<br>
	 		: {{ profile.mobile }}<br>
	 		: {{profile.company.industry_type}}<br>
	 		: {{profile.country}}<br>
	 	</div>

	 		<div class="edit-button">
	 			<a href="{% url 'edit_profile_recruiter' user_id=user.id %}"><input type="submit" name="edit" value="Edit Profile"></a>
	 		</div>
	 	</div>

	</div>
	 	
	 <!-- </div> -->

{% else %}

	<div class="container">

		<div class="welcome-box">
		
			<strong>{{error}}</strong><br />
			<label>Welcome to your Home Page</label><br />
			<label>Update CV, browse/search jobs... do lots more on your page!</label><br />
			<label>Your profile picture is missing. Upload one to increase your visibility and searchability.</label><br />
		</div>
		<br><br>

		<div class="profile-box">
			<div class="content-box">
				<br><br>
				<h4>My Profile</h4>

				<div class="formrow" id="photos">
					<div class="rounded_photo" id="profile_image">
			            <img src="/site_media/{{profile.photo.name}}" alt="" class="img-circle" style="border: 10px solid rgba(50, 50, 50, 0.1);" id="profile_picture">
			        </div>
		    	</div>
		    	<br>
		    </div>
		    <div class="content-box">

		   		<h3>{{profile.user.first_name}}</h3>
		   		<div class="label-box-left">
					<label>Email id </label> <br>					
					<label>Mobile </label> <br>
					<label>Functional Area </label> <br>					
					<label>Industry Type </label> 	<br>				
					<label>Work Experience </label> <br>				
					<label>Location </label> <br>
			 			
		 		</div>

			 	<div class="label-box-right">
			 		: {{profile.user.email}}<br>
			 		: {{ profile.mobile }}<br>
			 		: {{profile.employment_set.all.0.function}}<br>
			 		: {{profile.employment_set.all.0.curr_industry}}<br>
			 		: {{profile.employment_set.all.0.exp_yrs}} Year(s), {{profile.employment_set.all.0.exp_mnths}} Month(s)<br>
			 		: {{profile.country}}
			 	</div>
			</div>
			
			<div class="edit-button">
		 		<br><br>
				<a href="{% url 'edit_profile' user_id=user.id %}"><input type="submit" name="edit" value="Edit Profile"></a>
			</div>
		</div>
	
		<br><br><br>
		{% endif %}
	</div>
{% endblock content %}