{% extends 'recruiter_base.html' %}
{% block title %}Recruiter Registration{% endblock title %}
{% block body_id %}recreg{% endblock body_id %}

{% block controller %}ng-controller="RecruiterController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block search %}
{% endblock search %}

{% block content %}

<div class="alert alert-info" align="Center"><h4>Register Recruiter</h4></div>
<div class="form_container">
	
	<form class="" name="" method="post" action="{% url 'register' %}">
		{% csrf_token %}
		<div class="formrow">
			<label > Company Name<span class="red">*</span></label>  
			<input type="text"  name="name" value="">
		</div>
		<div class="formrow">
			<label> Industry Type<span class="red">*</span></label>
			<input type="text" name="type" value="">
		</div>
		<div class="formrow">
			<label > Email<span class="red">*</span></label>  
			<input type="text"  name="email" value="">
		</div>
		<div class="formrow">
			<label> Password<span class="red">*</span></label>
			<input type="password" name="password" value="">
		</div>
		<div class="formrow">
			<label> Mobile</label>
			<input type="text" name="mobile" value="">
		</div>
		<div class="formrow">
			<label> Land Number</label>
			<input type="text" name="phone" value="">
		</div>
		<div class="formrow">
			<label> Country</label>
			<select name="country">
				<option>-----Select----<option>
				<option ng-repeat="country in countries" value="[[country]]">[[country]]</option>
			</select>
		</div>
		<div class="formrow">
			<label> City</label>
			<input type="text" name="city" value="">
		</div>
		<div  align="Center">
			<div class="buttons">
				<input type="submit" value="Register">	
			</div>
		</div>
	</form>
</div>
{% endblock content %}