{% extends 'base.html' %}
{% block title %}Recruiter Registration{% endblock title %}
{% block body_id %}recreg{% endblock body_id %}

{% block controller %}ng-controller="RecruiterController" ng-init="init('{{csrf_token}}', '{{user_id}}')"{% endblock controller %}

{% block search %}
{% endblock search %}

{% block content %}

<div class="alert-info" align="Center"><u><h2>Recruiter</h2></u></div>
<div class="form_container">
	
	<form class="" name="" method="" action="">
		{% csrf_token %}
		<input type="hidden" value="{{user_loggedin}}">
		<div class="formrow">
			<label > Company Name<span class="red">*</span></label>  
			<input type="text"  name="name" ng-model="recruiter.name">

			
		</div>
		
		<div class="formrow">
			<label > Email<span class="red">*</span></label>  
			<input type="text"  name="email" ng-model="recruiter.email">
		</div>
		<div class="formrow">
			<label> Industry Type<span class="red">*</span></label>
			
			<select name="industry" ng-model="recruiter.industry">
				<option value="">-----Select----<option>					
				<option ng-repeat="industry in industries" value="[[industry]]" ng-selected="industry == recruiter.industry">[[industry]]</option>
				</select>
		</div>
		{% if not user_loggedin %}
			<div class="formrow">
				<label> Password<span class="red">*</span></label>
				<input type="password" name="password" ng-model="recruiter.password">
			</div>
		{% endif %}
		<div class="formrow">
			<label> Mobile<span class="red">*</span></label>
			<input type="text" name="mobile" ng-model="recruiter.mobile">
		</div>
		<div class="formrow">
			<label> Land Number</label>
			<input type="text" name="phone" ng-model="recruiter.phone">
		</div>
		<div class="formrow">
			<label> Country</label>
			
			<select name="country" ng-model="recruiter.country">
				<option value="">-----Select----<option>
				<option ng-repeat="country in countries" value="[[country]]" ng-selected="country == recruiter.country">[[country]]</option>
			</select>
		</div>
		<div class="formrow">
			<label> City</label>
			<input type="text" name="city" ng-model="recruiter.city">
		</div>
		<div class="formrow">
			<label> Company Description</label>
			<textarea ng-model="recruiter.description"> </textarea>
		</div>

		<div  align="Center">
			<div class="buttons">

				{% if user.is_authenticated %}
					<input type="submit" value="Edit & Save" ng-click="save_profile()">	
				{% else %}
					<input type="submit" value="Register" ng-click="save_profile()">
				{% endif %}
			</div>
			<p ng-show="error_flag" class="error_message">[[error_message]]</p>
		</div>

	</form>
</div>
{% endblock content %}