{% extends 'base.html' %}
{% block title %}Forgot Password
{% endblock title %}
{% block body_id %}forgot_password{% endblock body_id %}

{% block content %}
	{% if success_message %}
		{{ success_message }}
	{% else %}
		<div class="content_top">
			<form method="post" action="{% url 'reset_password' user_id=user_id %}">{% csrf_token %}
				<label>New Password</label>
				<input type="password" value="" name="new_password">
				<input type="submit" value="Submit">
				<p class="error_message">{{message}}</p>
			</form>
		</div>
	{% endif %}

{% endblock content %}