/************** Nav styles *********************/


body {
    font: 400 12px/1 Arial,Helvetica,sans-serif;
}


.logodiv {
    height: 66px;
    overflow: hidden;
}
#bms {
    margin-left: 300px;
    max-width: 670px;
    overflow: hidden;
}
.navi {
    background: linear-gradient(to bottom, #89BBE5 0px, #67AADD 47%, #4D9CD5 66%, #2E8BCB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0.417em;
}
.middle {
    height: 35px;
    padding: 2px 0 0 0.583em;
}
.middle li {
    display: inline;
    float: left;
    height: 100%;
}
.middle a {
    color: #FFFFFF;
    display: inline-block;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    padding: 0 10px;
}
.middle a:hover, .middle a.active {
    background: none repeat scroll 0 0 #2466AF;
    border-radius: 0.417em;
    text-decoration: none;
}
.middle em.home {
    background-position: right 0;
    display: inline-block;
    height: 26px;
    margin-top: 3px;
    overflow: hidden;
    width: 25px;
}
.middle li.ddn {
    position: relative;
}
.ddn:hover a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #3D79B8 #3D79B8 -moz-use-text-color;
    border-image: none;
    border-radius: 0.417em 0.417em 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #000000;
    padding: 0 9px;
}
.ddn em.downArr {
    border-color: #FFFFFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 4px 4px 0;
    display: inline-block;
    height: 0;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: text-top;
    width: 0;
}
.ddn:hover em.downArr, .ddn a.active em.downArr {
    border-color: #000000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.ddn .ddNC {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #3D79B8 #3D79B8;
    border-image: none;
    border-right: 1px solid #3D79B8;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 5px 6px 5px #BFBFBF;
    display: none;
    left: 0;
    padding-bottom: 5px;
    position: absolute;
    top: 35px;
    width: 148px;
}
.ddn:hover .ddNC a, .ddNC a, .ddNC a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border-color: -moz-use-text-color -moz-use-text-color #D6D6D6;
    border-image: none;
    border-style: none none dotted;
    border-width: 0 0 1px;
    color: #0100FE;
    display: block;
    font-weight: 400;
    height: auto;
    line-height: 1.5;
    margin: 3px 0 0;
    padding: 0 0 3px 14px;
}
.ddNC a.nbdr {
    border-bottom: medium none !important;
}
.ddn:hover .ddNC {
    display: block;
}
.ddn a:focus {
    outline: 0 none;
}



/************** End Nav styles *********************/


/*.main{
    clear: both;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    width: 995px;
    background-color: #F3F3F3;
<<<<<<< HEAD
  }
.main-content{
=======
  }*/
.main-header{

  background-color:#663399;
  color:white;
  width:100%;
  height:54px;
  border-bottom:1px solid #ffffff;
}
.main-logo{
  float: left;
  display: inline;
  margin-left: 11%;
}

/*nav a{
  color:#ffffff;
}*/
./*form_container {
  margin: auto;
  width: 80%;
  min-height: 100%
}
.form_container .control {
  width: 100%;
  height: 30px;
  float: left;
  padding: 10px;
}
.form_container label{
  display: block !important;
    float: left;
    width: 45%;
}

.form_container input{
  float: left;
  display: block;
  width: 50%;
}
.form_container input[type="button"]{
  width: auto;
}
.form_container select{
  float: left;
  display: block;
  width: 50%;
}

form {
  display: block;
  float: left;
  min-height: 100%;
  width: 100%;
}
.main-slider{
  background-color: #5F4398;
  height:289px;
}
.right-navbar{
  float:right;
  margin-right: 13%;
  margin-top: 13px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 12px;
}*/


/*.section_1 {
  float: left;
  width: 50%;
}
.section_2 {
  float: left;
  width: 50%;
}
*/
/*.formrow {
  min-height: 40px;
    width: 100%;
    padding: 3px;
}

.formrow select{
  width: 300px;
}

.formrow label{
  float: left;
  width: 45%;"
}

.formrow input{
  width: 300px;
}

.formrow textarea
{
   width: 300px;
}

.red{
  color: red;
}
.year{
  width: 115px;
}

.button{
  width: 100px;
}*/
/*.formtext {
  float: left;
    width: 95px;
}
.forminput {
  float: left;
}*/




/*
.container
{
	background-color:#d0d0d0;
	width:100%;
	height:auto;
}*/
/*.hd
{
	margin-left:250px;
    vertical-align:center;
	font-size:40px;*/

	/*font-family:comic sans ms;*/

/*	//margin-top: 3%;
	//text-align:bottom;
	//padding:150px;*/
/*}
.hd1
{
	color:black; 
	text-decoration:underline;
	text-align:center;
}*/

/*.div2
{
  margin-left:150px;
  width:1000px;
  height:50px;
  //background-color:blue;
  border:1px red;
}
.div3
{
  margin: auto;
  margin-top:50px;
  width:900px;
  height:auto;
  border:1px solid blue;
}
.separation{
  border:1px solid blue;
  background-color:white;
  padding-left: 6%;
}

.mandatory{
  float:right;
  color:red;
}*/



/*td
{
	width:200px;
}
.btn
{*/
/*background-color:#cce6ff; #FFE4C4;*/
/*text-align:center;
width: auto;*/
/*//border:1px solid black;*/
/*}*/

/*.btn input
{
background-color:#009999;
color:white;
}*/
/*.div4
{
border-top:1px solid blue;
background-color:
text-align:center;
}
.div5
{
border-top:1px solid blue;
background-color:#FFFF99;
text-align:center;
}*/

li {display:inline;}


ul{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}



.addr
{
margin-left:300px;
margin-top:200px;
background-color:blue;
}


#m1 , #m2, #m3
{
position:absolute; 
left:1173px; 
//bottom:573px; */
width:auto;
}
#m1
{
bottom:555px;
}
#m2{
 bottom:534px;
}
#m3{
bottom:515px;
}
#m4{
bottom:450px;
}
.key
{
position:relative;
width:100%;
background-color:black;
height:100px;
margin-top:0px;
}
.key1
{
margin-left:200px;
margin-top:50px;
width:900px;
height:150px;
background-color:#80b280;   /*/#E6E6FA;*/
border:1px solid red;
}
.nav3 {
  display: table;
  table-layout: fixed;
  text-align: center;
  margin: 0px;
}
.nav3 li {
  display: table-cell;
  width: 5%;
  padding-right: 1px;
  height: auto;
  vertical-align: bottom;
}
.nav3 a {
  display: block;
  min-height: 100%;
  padding: 4px 10px;
text-decoration:none;
  background-color:#FFCCFF; //#FFEB99;
font-family: Ariel black;
font-size:20px;   //Shade of blue
color:white;
  border-radius: 6px 6px 0 0;
}
.hd3
{
background-color:#FFCCFF;
}

.row{
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
}
.input-box{
  width:100%;
  height :auto;
}
.company{
    border:1px solid black;
    width:47%;
    padding: 1em;
    margin-top: 2em;
}

.footer {
    background-color: #F3F3F3;
    border: 1px solid #CCCCCC;
    height: 5em;
    width: 70em;
}
.job{
    float: right;
    position: absolute;
    width:50%;
}


.form_container {
    margin: auto;
    width: 35%;
    min-height: 100%
}
.form_container .control {
    width: 100%;
    height: 30px;
    float: left;
    padding: 10px;
}
.form_container label{
    display: block !important;
    float: left;
    width: 45%;
}

.form_container input{
    float: left;
    display: block;
    width: 50%;
}
.form_container input[type="button"]{
    width: auto;
}
.form_container select{
    float: left;
    display: block;
    width: 50%;
}

form {
    display: block;
    float: left;
    min-height: 100%;
    width: 100%;
}


.empS {
    background-color: #E6E6E6;
    height: 21px;
    overflow: hidden;
    padding: 5px;
}
#nav{
    width: 62.1em;
    font-weight: 400;
    position: absolute;
    left: 50%;
    margin-left: -31em; 
}

#nav > a{
    display: none;
    text-decoration:none;

}

#nav li{
    position: relative;
}
#nav li a{
    color: #fff;
    display: block;
    text-decoration:none;

}
#nav li a:active{
    background-color: #c00 !important;
    text-decoration:none;

}

#nav span:after{
    width:282px;
    height: 0;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em; 
}


#nav > ul{
    height: 1.75em;
    background-color: #4095D0;
}
#nav > ul > li{
    width: 25%;
    height: 100%;
    float: left;
}
#nav > ul > li > a{
    height: 100%;
    line-height: 1.5em; 
    text-align: center;
}
#nav > ul > li:not( :last-child ) > a{
    border-right: 1px solid #ffffff;
}
#nav > ul > li:hover > a,
#nav > ul:not( :hover ) > li.active > a{
    background-color: #4095D0;
}



#nav li ul{
    background-color: #4095D0;
    display: none;
    position: absolute;
    top: 100%;
}
#nav li:hover ul{
    display: block;
    left: 0;
    right: 0;
}
#nav li:not( :first-child ):hover ul{
    left: -1px;
}
#nav li ul a{
    font-size: 1em; 
    border-top: 1px solid ##4095D0;
    padding: 0.75em 0.75em 0.75em 2em;
    text-decoration:none;

}
#nav li ul li a:hover,
#nav li ul:not( :hover ) li.active a{
    background-color: #800080;
}


/************** Base styles *********************/

.content {
  width: 80%;
  margin: auto;
}

/************* end base styles *****************/
