DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'emplome',                      # Or path to database file if using sqlite3.
        # The following settings are not used with sqlite3:
        'USER': 'hr',
        'PASSWORD': 'root',
        'HOST': '',                      # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '5433',                      # Set to empty string for default. 5433
    }
}

DEFAULT_FROM_EMAIL = 'fbmtrial@gmail.com'

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 25
EMAIL_USE_TLS = True
EMAIL_HOST_USER = 'fbmtrial@gmail.com'
EMAIL_HOST_PASSWORD = 'fitbodyme'
